.images-content{
    display: grid;
    grid-template-rows: 1fr 2%;
    width: 50%;
    border-radius: 5%;
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 2%;
    margin: 0 auto;
    grid-gap: 10%;
}

.images-content .images-section{
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.images-section img{
    padding: 0 25%;
}

.images-content .return-section{
    grid-row-start: 2;
    grid-row-end: 3;
}

.returnForm{
    padding: 0 41.3%;
}
.return-btn{
    font-weight: bold;
    border-radius: 5%;
    padding: 5%;
    border: none;
    color: white;
    text-align: center;
    cursor: pointer;
    background-color: rgb(0, 174, 255);
}