html, body {
    background-color: #FFFDF2;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
    position: absolute;
}

.title {
    font-size: 84px;
    margin: 40px 40%;
}

.m-b-md {
    margin-bottom: 30px;
}

.title .titleFor{
    display:inline;
    color: #FFD600;
}

.card .card-body{
    width: 480px;
    height: 280px;
    padding: 5% 5%;
    margin: 20px 30%;
    background-color: white;
}
.card .card-body-register{
    width: 480px;
    height: 500px;
    padding: 3% 5%;
    margin: 20px 30%;
    background-color: white;
}

.card-body #emailabel, .card-body-register #emailabel{
    padding: 16.56% 8.38% 78.37% 2%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}
.card-body #passwdLabel, .card-body-register #passwdLabel{
    padding: 16.56% 8.38% 78.37% 2%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.row2{
    margin-top: 20px;
}

#div-signIn-register button{
    margin: 40px 35%;
    background: #FFD600;
    border-radius: 8px;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

#registerLink{
    margin: 10px 101px;
    border-radius: 8px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}
input[id='email'], input[id='password'], input[id='nombre'], 
    input[id='apellidos'],input[id='password-confirm']{
    width: 436px;
    height: 30px;
    background: #F4F4F4;
}