#section-body #pet-vaccines{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 2% 1%;
    padding-left: 14%;
}

#pet-vaccines .vaccine{
    width: 50%;
    border-radius: 5%;
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 2%;
}

table{
    margin: 0 auto;
}

.createvaccine, .cancel-btn{
    text-decoration: none;
    text-align: center;
    border-radius: 5%;
    border: none;
    color: white;
    cursor: pointer;
    padding: 4%;     
}

.createvaccine{ background-color: #4CAF50; }
.cancel-btn{ background-color: rgb(255, 43, 43); }
