.container{
    display: grid;
    grid-gap: 10px;
    grid-template-areas: "title"
                        "buttons"
                        "appointments";
}

.container .title-appointment-section{
    grid-area: title;
    text-align: center;
}
.container .create-appointment-section{
    grid-area: buttons;
}
.create-appointment-section .createappointment{
    border: none;
    color: white;
    padding: 14px 27px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
    background-color: rgb(0, 179, 74);    
}

.container #emptyList, .container .client-appointment{
    grid-area: appointments;
}

label{ font-weight: bold; }

input[type=submit]{
    border: none;
    color: white;
    padding: 14px 27px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
}
form .cancelAppointment{ background-color: red; }
form .editAppointment{ background-color: lightskyblue; }

.tableAppointment{
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
}
.tableAppointment th, td {
    text-align: center;
    padding: 8px;
}
  
th {
    background-color: #fAA43D;
    color: white;
}

@media screen and (max-width: 600px){
    .container{
        display: grid;
        grid-gap: 10px;
        grid-template-areas: "title"
                            "buttons"
                            "appointments";
    }

    input[type=submit],
    .create-appointment-section .createappointment{ 
      padding: 9px 10px; 
    }

    table { width:100%; }
    thead { display: none; }
    tr:nth-of-type(2n) { background-color: inherit; }

    tbody .each-appointment{ 
        border: 0.5px solid lightgray;
    }
    tbody td {
        /* display: block; */
        display: flex;
        text-align:center;
    }
    tbody td:before {
        content: attr(data-th);
        font-weight:bold;
        text-align:center;
        margin-right: 53px;
    }
    td:nth-of-type(n):before{ display: contents; }

    td:nth-of-type(1):before { content: "Fecha"; }
    td:nth-of-type(2):before { content: "Hora"; }
    td:nth-of-type(3):before { content: "Lugar"; }
    td:nth-of-type(4):before { content: "Cliente"; }
    td:nth-of-type(5):before { content: ""; }
    td:nth-of-type(6):before { content: ""; }
}
