.container{
    display: grid;
    grid-gap: 10px;
    grid-template-areas: "title"
                        "buttons"
                        "appointments";
}

.container .title-appointment-section{
    grid-area: title;
    text-align: center;
}
.container .create-appointment-section{
    grid-area: buttons;
}
.create-appointment-section .createappointment{
    border: none;
    color: white;
    padding: 14px 27px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
    background-color: rgb(0, 179, 74);    
}

.container #emptyList, .container .client-appointment{
    grid-area: appointments;
}

label{ font-weight: bold; }

input[type=submit]{
    border: none;
    color: white;
    padding: 14px 27px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
}
form .cancelAppointment{ background-color: red; }
form .editAppointment{ background-color: lightskyblue; }

.tableAppointment{
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
}
.tableAppointment th, td {
    text-align: center;
    padding: 8px;
}
  
th {
    background-color: #fAA43D;
    color: white;
}

@media screen and (max-width: 600px){
    .container{
        display: grid;
        grid-gap: 10px;
        grid-template-areas: "title"
                            "buttons"
                            "appointments";
    }

    input[type=submit],
    .create-appointment-section .createappointment{ 
      padding: 9px 10px; 
    }

    table { width: 100%; }

    table, thead, tbody, th, td, tr { 
      display: block; 
    }
    th {
      background-color: white; 
      color: black;
    }
    
    thead tr { position: absolute; }
    
    td { 
      border: none;
      border-bottom: 1px solid #eee; 
      position: relative;
      padding-left: 50%; 
    }

    td:before { 
      position: absolute;
      top: 6px;
      left: 6px;
      width: 45%; 
      padding-right: 10px; 
      white-space: nowrap;
      content: attr(data-column);

      color: #000;
      font-weight: bold;
    }

    .forms{
      text-align: center;
      display: flex;
    }
}
