*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Nunito', sans-serif;
    background-color: #E9ECF4;
    font-weight: 100;
}

.contenedor{
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-areas: "header"
                        "body"
                        "footer";
}

.contenedor > div,
.contenedor #section-nav, .contenedor #section-body, .contenedor #section-footer{
    background: #fff;
    padding: 20px;
    border-radius: 4px;
}

.contenedor #section-nav{
    grid-area: header;
    background: #12203E;
    color: #fff;
    /* height: 10px; */
    display: grid;
    grid-gap: 10px;
    grid-template-areas: "logo logo options";
}

#section-nav a, .user-name{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
#section-nav a:hover{ color: #fAA43D; }

#section-nav .title{  
    grid-area: logo; 
    grid-column: span 2;
    font-size: 24px;
}
#section-nav .rigth-section{
    grid-area: options;
    float: right;
    display: flex;
    align-items: center;
    justify-content: right;
}
.rigth-section .user-name{ margin-left: 30px; }

.contenedor #section-body{
    grid-area: body;
}
.contenedor #section-footer{
    grid-area: footer;
    text-align: center;
    background: #12203E;
    color: #fff;
}