.images-content{
    display: grid;
    grid-gap: 10px;
    grid-template-areas: "title"
                        "images";
}

.images-content .title-button-section{
    grid-area: title;
    display: flex;
    align-items: center;
}
.title-button-section h2{ margin-left: 32%; }

.images-content .images-section{ grid-area: images; margin: 5px 10px 0 10px; }

input[type=submit]{
    border: none;
    color: white;
    padding: 10px 13px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
}

input.return-btn{ background-color: lightgray; }