.medicalHistory-content{
    display: grid;
    grid-gap: 20px;
    grid-template-areas: "title"
                        "buttons"
                        "binfo"
                        "tableFiles";
}

.medicalHistory-content .pet-name{ grid-area: title; text-align: center; }
.medicalHistory-content .buttons-section{ 
    grid-area: buttons; 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.medicalHistory-content .pet-info{ 
    grid-area: binfo; 
    display: grid;
    grid-template-areas: "image info";
    text-align: center;
    align-items: center;
    justify-content: center;
}
.pet-info .petimg{ grid-area: image; }
.petimg{ border-radius: 73px; }
.pet-info .tableBasicInfo{ grid-area: info; }
.pet-info .buttons-info{ 
    grid-column: 2/3; 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.medicalHistory-content .pet-files{ grid-area: tableFiles; margin-top: 20px; }

.table-files{
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
}
.table-files th, td {
    text-align: center;
    padding: 6px;
}
.table-files th {
    background-color: #fAA43D;
    color: white;
}

.tableBasicInfo > th{
    background-color: none;
    color: black;
}

input[type=submit]{
    border: none;
    color: white;
    padding: 10px 13px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
}

label{ font-weight: bold; }
input.deleteFile{ background-color: red; }
input.showFile,input.indexImage,input.indexvaccines,input.returnbtn{ background-color: lightgray; }
input.uploadImage,input.inputadd{ background-color: rgb(0, 179, 74); }
input.editinfo{ background-color: lightskyblue; }

@media screen and (max-width: 600px){
    input[type=submit]{ padding: 9px 10px; }

    .medicalHistory-content .pet-info{ 
        grid-area: binfo; 
        grid-template-areas: "image image"
                            "info info";
    }
    .pet-info .petimg{ 
        grid-area: image; 
        grid-column: span 2;
        margin: 0 auto;
    }
    .pet-info .tableBasicInfo{ 
        grid-area: info; 
        grid-column: span 2;
    } 

    table { width:100%; }
    thead { display: none; }
    tr:nth-of-type(2n) { background-color: inherit; }

    /* tr td:first-child {
        background: #f0f0f0;
        font-weight:bold;
        font-size:1.3em;
    } */
    tbody td {
        /* display: block; */
        display: flex;
        text-align:center;
    }
    tbody td:before {
        content: attr(data-th);
        /* background: #f0f0f0; */
        font-weight:bold;
        /* display: block; */
        text-align:center;
        margin-right: 53px;
    }
    td:nth-of-type(n):before{
        /* display: flex;
        text-align: center;
        align-items: center;
        justify-content: left; */
        display: contents;
    }

    .tableBasicInfo td:nth-of-type(1):before { content: "Chip"; }
    .tableBasicInfo td:nth-of-type(2):before { content: "Especie"; }
    .tableBasicInfo td:nth-of-type(3):before { content: "Raza"; }
    .tableBasicInfo td:nth-of-type(4):before { content: "Nacimiento"; }
    .tableBasicInfo td:nth-of-type(5):before { content: "Estatura"; }
    .tableBasicInfo td:nth-of-type(6):before { content: "Peso"; }
    .tableBasicInfo td:nth-of-type(7):before { content: "Sexo"; }
    .tableBasicInfo td:nth-of-type(8):before { content: "Esterilizado"; }

    .table-files td:nth-of-type(1):before { content: "Fecha de visita"; }
    .table-files td:nth-of-type(2):before { content: "Motivo"; }
    .table-files td:nth-of-type(3):before { content: ""; }
    .table-files td:nth-of-type(4):before { content: ""; }
    .table-files td:nth-of-type(5):before { content: ""; }
    .table-files td:nth-of-type(6):before { content: ""; }

    .pet-info .buttons-info{ 
        border-bottom: 0.5px solid lightgray; 
        margin-bottom: 20px; 
        display: contents;
    }
    
    #pet-files{ 
        border-top: 0.5px solid lightgray;
        padding-top: 12px; 
    }
}
