.tasks-container{
    display: grid;
    grid-gap: 10px;
    grid-template-areas: "title"
                        "buttons"
                        "tableTasks";
}

.tasks-container .title-section{
    grid-area: title;
    text-align: center;
}
.tasks-container .buttons-section{
    grid-area: buttons;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons-section form{
    margin-right: 15px;
}

.tasks-container .return-section{
    grid-area: buttons;
}

.tasks-container .schedule-content{
    grid-area: tableTasks;
}

input[type=submit]{
    border: none;
    color: white;
    padding: 14px 27px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
    background-color: lightgray;
}

.table-tasks{
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
}
.table-tasks th, td {
    text-align: center;
    padding: 8px;
}
  
th {
    background-color: #fAA43D;
    color: white;
}

input.addtask{ background-color: rgb(0, 179, 74); }
input.edittask, input.nexttasks{ background-color: lightblue; }
input.deletetask{ background-color: red; }
input.currenttasks{ margin-left: 48px; }

@media screen and (max-width: 600px){
    input[type=submit]{ padding: 9px 10px; }

    table { width:100%; }
    thead { display: none; }
    tr:nth-of-type(2n) { background-color: inherit; }

    tbody tr{ border: 0.5px solid lightgray; }
    tbody td {
        /* display: block; */
        display: flex;
        text-align:center;
    }
    tbody td:before {
        content: attr(data-th);
        font-weight:bold;
        text-align:center;
        margin-right: 53px;
    }
    td:nth-of-type(n):before{ display: contents; margin-left: 18px; }

    td:nth-of-type(1):before { content: "Tarea"; }
    td:nth-of-type(2):before { content: "Fecha"; }
    td:nth-of-type(3):before { content: "Descripción"; }
    td:nth-of-type(4):before { content: ""; }
    td:nth-of-type(5):before { content: ""; }
}
